
.main
{
    display: grid;
    align-items: center;
    grid-template-rows: 10% 80% ;
    grid-template-columns: 40% 60%; 
    grid-row-gap: 2%; 
    grid-column-gap: 1%;
    /* padding-bottom: 5%; */
    align-self: center;
    place-content: center  ;
}
.main h1{
    text-transform: uppercase;
    font-family: 'Roboto', sans-serif;
    font-size: calc(14px + 16 * (100vw / 1200));
    text-align: center;
    font-weight: 700;
    
}
.name
{
   align-self: flex-end;
}
.itemblock 
{
    align-self: flex-start;
    justify-self: center;
    grid-column: 1;
    padding: 3% 5%;
    background: #FFEEEE;
    width: 90%;
    height: auto;
}
.itempic
{
    align-self: flex-start ;
    justify-self: flex-start;
    overflow: hidden;
    max-height: 100%;
    grid-row: 2;
    grid-column: 1;
    width: 100%;
}
.itempic img{
    max-width: 100%;
    width: 100%;
    align-self: flex-start;
    height: 100%;
    object-fit: cover;
}
.item-description,.confirm
{
    position: relative;
    grid-column: 2;
    grid-row: 2;
}
.other{

    align-self: flex-start;
    height: 100%;
    margin-right: 10%;
    
}
.item-description{
    flex-basis: 100%;
    grid-row: 1;
    align-self: flex-start;
    justify-self: flex-start;
    font-family: 'Roboto', sans-serif;
    font-size: calc(12px + 10 * (100vw / 1200));
    font-weight: bold;
    text-align: justify;
}
.desc{
    font-size: calc(10px + 10 * (100vw / 1200));
    font-weight: normal;
}
.confirm{
    color: white;
    background-color: #FF0000;
    opacity: 0.5;
    font-size: calc(24px + 30 * (100vw / 1200));
    text-align: center;
    padding: 0% 2%;
    margin-top: 16%;
    max-width: 40%;
}
.confirm a{
    color: white;
}
.catalog-item-description
{
    grid-row: 2;
    grid-column: 1;
    align-self: flex-end;
    margin-top: 2%;
}
.price,.weight
{
    text-align: left;
    font-family: 'Public Sans', sans-serif;
    font-weight: 500;
    font-size: calc(12px + 20 * (100vw / 1200));
    align-self: start;
    justify-self: center;

}
@media (max-width:1000px) {
    .main
    {
        display: flex;
        /* margin-top: 2%; */
        /* grid-row-gap: 4%;  */
        flex-wrap: wrap;
        
    }
    .itemblock
    {
        margin-bottom: 5%;
        width: 80%;
        height: auto;
        
    }
    .name
    {
        align-items: center;
        margin-bottom: 5%;
    }
    .other{
        /* margin: 4% 0%; */
        display: grid;
        /* align-self: center; */
        justify-self: center;
        grid-column: 1;
        grid-template-rows: 60% 40%;
        margin-right: 0%;
    }
    .item-description
    {
        /* justify-self: center; */
        margin: 0% 10%;
        align-self: center;
    }
    .confirm
    {
        align-self: center;
        justify-self: center;
        padding: 0% 2%;
        margin: 10% 0%;
    }
}